<html lang="en-US"><head>


 
	    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="pingback" href="/xmlrpc.php">
    
<title>About Us –                                Alnafis Education</title>
<meta name="robots" content="max-image-preview:large">
<link rel="dns-prefetch" href="//fonts.googleapis.com">
<link rel="dns-prefetch" href="//s.w.org">
<link rel="alternate" type="application/rss+xml" title="                               Alnafis Education » Feed" href="/feed/">
<link rel="alternate" type="application/rss+xml" title="                               Alnafis Education » Comments Feed" href="/comments/feed/">
<link rel="alternate" type="application/rss+xml" title="                               Alnafis Education » About Us Comments Feed" href="/pages/about_us/feed/">
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/13.1.0\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/13.1.0\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/www.alnafiseducation.in\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.8.2"}};
			!function(e,a,t){var n,r,o,i=a.createElement("canvas"),p=i.getContext&&i.getContext("2d");function s(e,t){var a=String.fromCharCode;p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,e),0,0);e=i.toDataURL();return p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,t),0,0),e===i.toDataURL()}function c(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(o=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},r=0;r<o.length;r++)t.supports[o[r]]=function(e){if(!p||!p.fillText)return!1;switch(p.textBaseline="top",p.font="600 32px Arial",e){case"flag":return s([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])?!1:!s([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!s([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]);case"emoji":return!s([10084,65039,8205,55357,56613],[10084,65039,8203,55357,56613])}return!1}(o[r]),t.supports.everything=t.supports.everything&&t.supports[o[r]],"flag"!==o[r]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[o[r]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(n=t.source||{}).concatemoji?c(n.concatemoji):n.wpemoji&&n.twemoji&&(c(n.twemoji),c(n.wpemoji)))}(window,document,window._wpemojiSettings);
		</script><script src="/wp-includes/js/wp-emoji-release.min.js?ver=5.8.2" type="text/javascript" defer=""></script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
	<link rel="stylesheet" id="wp-block-library-css" href="/wp-includes/css/dist/block-library/style.min.css?ver=5.8.2" type="text/css" media="all">
<style id="wp-block-library-theme-inline-css" type="text/css">
#start-resizable-editor-section{display:none}.wp-block-audio figcaption{color:#555;font-size:13px;text-align:center}.is-dark-theme .wp-block-audio figcaption{color:hsla(0,0%,100%,.65)}.wp-block-code{font-family:Menlo,Consolas,monaco,monospace;color:#1e1e1e;padding:.8em 1em;border:1px solid #ddd;border-radius:4px}.wp-block-embed figcaption{color:#555;font-size:13px;text-align:center}.is-dark-theme .wp-block-embed figcaption{color:hsla(0,0%,100%,.65)}.blocks-gallery-caption{color:#555;font-size:13px;text-align:center}.is-dark-theme .blocks-gallery-caption{color:hsla(0,0%,100%,.65)}.wp-block-image figcaption{color:#555;font-size:13px;text-align:center}.is-dark-theme .wp-block-image figcaption{color:hsla(0,0%,100%,.65)}.wp-block-pullquote{border-top:4px solid;border-bottom:4px solid;margin-bottom:1.75em;color:currentColor}.wp-block-pullquote__citation,.wp-block-pullquote cite,.wp-block-pullquote footer{color:currentColor;text-transform:uppercase;font-size:.8125em;font-style:normal}.wp-block-quote{border-left:.25em solid;margin:0 0 1.75em;padding-left:1em}.wp-block-quote cite,.wp-block-quote footer{color:currentColor;font-size:.8125em;position:relative;font-style:normal}.wp-block-quote.has-text-align-right{border-left:none;border-right:.25em solid;padding-left:0;padding-right:1em}.wp-block-quote.has-text-align-center{border:none;padding-left:0}.wp-block-quote.is-large,.wp-block-quote.is-style-large{border:none}.wp-block-search .wp-block-search__label{font-weight:700}.wp-block-group.has-background{padding:1.25em 2.375em;margin-top:0;margin-bottom:0}.wp-block-separator{border:none;border-bottom:2px solid;margin-left:auto;margin-right:auto;opacity:.4}.wp-block-separator:not(.is-style-wide):not(.is-style-dots){width:100px}.wp-block-separator.has-background:not(.is-style-dots){border-bottom:none;height:1px}.wp-block-separator.has-background:not(.is-style-wide):not(.is-style-dots){height:2px}.wp-block-table thead{border-bottom:3px solid}.wp-block-table tfoot{border-top:3px solid}.wp-block-table td,.wp-block-table th{padding:.5em;border:1px solid;word-break:normal}.wp-block-table figcaption{color:#555;font-size:13px;text-align:center}.is-dark-theme .wp-block-table figcaption{color:hsla(0,0%,100%,.65)}.wp-block-video figcaption{color:#555;font-size:13px;text-align:center}.is-dark-theme .wp-block-video figcaption{color:hsla(0,0%,100%,.65)}.wp-block-template-part.has-background{padding:1.25em 2.375em;margin-top:0;margin-bottom:0}#end-resizable-editor-section{display:none}
</style>
<link rel="stylesheet" id="contact-form-7-css" href="/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.3.2" type="text/css" media="all">
<link rel="stylesheet" id="fontawesome-css" href="/wp-content/themes/education-hub/third-party/font-awesome/css/font-awesome.min.css?ver=4.7.0" type="text/css" media="all">
<link rel="stylesheet" id="education-hub-google-fonts-css" href="//fonts.googleapis.com/css?family=Open+Sans%3A600%2C400%2C400italic%2C300%2C100%2C700%7CMerriweather+Sans%3A400%2C700&amp;ver=5.8.2" type="text/css" media="all">
<link rel="stylesheet" id="education-hub-style-css" href="/wp-content/themes/education-hub/style.css?ver=2.0.2" type="text/css" media="all">
<script type="text/javascript" src="/wp-includes/js/jquery/jquery.min.js?ver=3.6.0" id="jquery-core-js"></script>
<script type="text/javascript" src="/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.3.2" id="jquery-migrate-js"></script>
<link rel="https://api.w.org/" href="/wp-json/"><link rel="alternate" type="application/json" href="/wp-json/wp/v2/pages/2"><link rel="EditURI" type="application/rsd+xml" title="RSD" href="/xmlrpc.php?rsd">
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="/wp-includes/wlwmanifest.xml"> 
<meta name="generator" content="WordPress 5.8.2">
<link rel="canonical" href="/pages/about_us/">
<link rel="shortlink" href="/?p=2">
<link rel="alternate" type="application/json+oembed" href="/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.alnafiseducation.in%2Fsample-page%2F">
<link rel="alternate" type="text/xml+oembed" href="/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.alnafiseducation.in%2Fsample-page%2F&amp;format=xml">
<style type="text/css" id="custom-background-css">
body.custom-background { background-color: #ffffff; background-image: url("/wp-content/uploads/2020/02/BG2.jpg"); background-position: center center; background-size: contain; background-repeat: no-repeat; background-attachment: fixed; }
</style>
	<link rel="icon" href="/wp-content/uploads/2020/02/cropped-SiteIcon-32x32.jpg" sizes="32x32">
<link rel="icon" href="/wp-content/uploads/2020/02/cropped-SiteIcon-192x192.jpg" sizes="192x192">
<link rel="apple-touch-icon" href="/wp-content/uploads/2020/02/cropped-SiteIcon-180x180.jpg">
<meta name="msapplication-TileImage" content="/wp-content/uploads/2020/02/cropped-SiteIcon-270x270.jpg">
</head>

<body class="page-template-default page page-id-2 custom-background wp-embed-responsive site-layout-fluid global-layout-right-sidebar" data-new-gr-c-s-check-loaded="14.1045.0" data-gr-ext-installed="">

	    <div id="page" class="container hfeed site">
    <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
    	<div id="tophead">
		<div class="container">
			<div id="quick-contact">
									<ul>
													<li class="quick-call"><a href="tel:919488666733">+91 9488666733</a></li>
																			<li class="quick-email"><a href="mailto:alnafiseducation@gmail.com">alnafiseducation@gmail.com</a></li>
											</ul>
											</div>

							<div class="quick-links">
					<a href="#" class="links-btn">Quick Links</a>
					<ul id="menu-home" class="menu"><li id="menu-item-315" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-315"><a href="/">Home</a></li>
<li id="menu-item-316" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2 current_page_item menu-item-316"><a href="/pages/about_us/" aria-current="page">About Us</a></li>
<li id="menu-item-318" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-318"><a href="/pages/enquiry/">Enquiry</a></li>
<li id="menu-item-319" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-319"><a href="/images/">Images</a></li>
<li id="menu-item-320" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-320"><a href="/pages/service/">Services</a></li>
<li id="menu-item-317" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-317"><a href="/pages/contact/">Contact</a></li>
<li id="menu-item-327" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-327"><a href="http://www.alnafistravels.in/">Alnafis Travels</a></li>
</ul>				</div>
			
							<div class="header-social-wrapper">
					<div class="widget education_hub_widget_social"></div>				</div><!-- .header-social-wrapper -->
			
		</div> <!-- .container -->
	</div><!--  #tophead -->

	<header id="masthead" class="site-header" role="banner"><div class="container">			    <div class="site-branding">

		    
										        <div id="site-identity">
					            	              <p class="site-title"><a href="/" rel="home">                               Alnafis Education</a></p>
	            				
					            <p class="site-description">                               Educational Consultancy</p>
					        </div><!-- #site-identity -->
			
	    </div><!-- .site-branding -->

	    	    
        </div><!-- .container --></header><!-- #masthead -->    <div id="main-nav" class="clear-fix">
        <div class="container">
        <nav id="site-navigation" class="main-navigation" role="navigation">
          <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false"><i class="fa fa-bars"></i>
			Menu</button>
            <div class="wrap-menu-content">
				<div class="menu-home-container"><ul id="primary-menu" class="menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-315"><a href="/">Home</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2 current_page_item menu-item-316"><a href="/pages/about_us/" aria-current="page">About Us</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-318"><a href="/pages/enquiry/">Enquiry</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-320"><a href="/pages/service/">Services</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-317"><a href="/pages/contact/">Contact</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-327"><a href="http://www.alnafistravels.in/">Alnafis Travels</a></li>
</ul></div>            </div><!-- .menu-content -->
        </nav><!-- #site-navigation -->
       </div> <!-- .container -->
    </div> <!-- #main-nav -->
    
	<div id="content" class="site-content"><div class="container"><div class="inner-wrapper">    

	<div id="primary" class="content-area">
		<main id="main" class="site-main" role="main">

			
				
<article id="post-2" class="post-2 page type-page status-publish hentry">
	<header class="entry-header">
		<h1 class="entry-title">About Us</h1>	</header><!-- .entry-header -->

	<div class="entry-content">
    		
<p><strong>Alnafis Educational Consultancy</strong> is an educational consultancy with its base in Kallakurichi, which guides and offers students seats in varied fields and courses, not just in Kallakurichi, but throughout India. We are the best Domestic and Overseas education consultants in Kallakurichi. We are renowned for sending students to top grade medical colleges in Kyrgyzstan, Russia, U.K, China &amp; Philippines. <br> <br> Driven by the motif that education is global and has no limits, at Alnafis Educational Consultancy we strive to steer students to follow pursue their studies of interest in colleges that suit them. With our 6 years of expertise we ensure that the students seeking MBBS in abroad secure seats in colleges suitable for them accounting all conditions. <br> <br> At <strong>Alnafis Educational Consultancy</strong>, we assure you a hassle free admission in prestigious colleges, across the globe. <br> <br> At <strong>Alnafis Educational Consultancy</strong> we firmly believe that the secret in education lies in respecting the students. It is our motto to ceaselessly deliver better education. We offer counselling services to students in India and the non-residents of India, as well, and help them get admission in colleges of the student’s preferences.</p>



<p></p>



<p></p>
			</div><!-- .entry-content -->

	<footer class="entry-footer">
			</footer><!-- .entry-footer -->
</article><!-- #post-## -->

				
			
		</main><!-- #main -->
	</div><!-- #primary -->

<div id="sidebar-primary" class="widget-area" role="complementary">
	    <aside id="search-2" class="widget widget_search"><form role="search" method="get" class="search-form" action="/">
	      <label>
	        <span class="screen-reader-text">Search for:</span>
	        <input type="search" class="search-field" placeholder="Search..." value="" name="s" title="Search for:">
	      </label>
	      <input type="submit" class="search-submit" value="Search">
	    </form></aside>
		<aside id="recent-posts-2" class="widget widget_recent_entries">
		<h2 class="widget-title">Recent Posts</h2>
		<ul>
											<li>
					<a href="/2021/12/20/most-desirable-10-greatest-kid-backpacking-backpacks-found-at-2021-research/">Most desirable 10 Greatest Kid Backpacking Backpacks Found at 2021 Research</a>
									</li>
											<li>
					<a href="/2021/12/20/mbbs-admission-start-tamil-nadu/">MBBS ADMISSION START TAMIL NADU.</a>
									</li>
											<li>
					<a href="/2021/12/20/use-of-force-that-is-being-controlled-by-the-international-law-at-this-present-time-is-out-of-date-and-changes-need-to-be-carried-out-force-in/">Use of force that is being controlled by the international law at this present time is out of date and changes need to be carried out Force in</a>
									</li>
											<li>
					<a href="/2021/12/20/college-entrance-essay-writer-service/">College Entrance Essay Writer Service</a>
									</li>
											<li>
					<a href="/2021/12/19/education-is-more-important-than-money-essay-on-eduwritemyessay-com/">Education Is More Important Than Money Essay on eduwritemyessay.com</a>
									</li>
					</ul>

		</aside><aside id="categories-2" class="widget widget_categories"><h2 class="widget-title">Categories</h2>
			<ul>
					<li class="cat-item cat-item-6"><a href="/category/blog/">blog</a>
</li>
	<li class="cat-item cat-item-1"><a href="/category/news/">News</a>
</li>
			</ul>

			</aside>	</div><!-- #sidebar-primary -->


</div><!-- .inner-wrapper --></div><!-- .container --></div><!-- #content -->
	<footer id="colophon" class="site-footer" role="contentinfo"><div class="container">    
	    			<div id="footer-navigation" class="menu-home-container"><ul id="menu-home-1" class="menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-315"><a href="/">Home</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2 current_page_item menu-item-316"><a href="/pages/about_us/" aria-current="page">About Us</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-318"><a href="/pages/enquiry/">Enquiry</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-320"><a href="/pages/service/">Services</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-317"><a href="/pages/contact/">Contact</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-327"><a href="http://www.alnafistravels.in/">Alnafis Travels</a></li>
</ul></div>	    	    	      <div class="copyright">
	        Copyright @ Alnafis Education. All rights reserved.	      </div><!-- .copyright -->
	    	    <div class="site-info">
	      <!-- .site-info -->
	    	</div><!-- .container --></footer><!-- #colophon -->
</div><!-- #page --><a href="#page" class="scrollup" id="btn-scrollup" style="display: none;"><i class="fa fa-chevron-up"></i></a>
<script type="text/javascript" id="contact-form-7-js-extra">
/* <![CDATA[ */
var wpcf7 = {"apiSettings":{"root":"http:\/\/www.alnafiseducation.in\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"}};
/* ]]> */
</script>
<script type="text/javascript" src="/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.3.2" id="contact-form-7-js"></script>
<script type="text/javascript" src="/wp-content/themes/education-hub/js/skip-link-focus-fix.min.js?ver=20130115" id="education-hub-skip-link-focus-fix-js"></script>
<script type="text/javascript" src="/wp-content/themes/education-hub/third-party/cycle2/js/jquery.cycle2.min.js?ver=2.1.6" id="cycle2-js"></script>
<script type="text/javascript" src="/wp-content/themes/education-hub/js/custom.min.js?ver=1.0" id="education-hub-custom-js"></script>
<script type="text/javascript" id="education-hub-navigation-js-extra">
/* <![CDATA[ */
var EducationHubScreenReaderText = {"expand":"<span class=\"screen-reader-text\">expand child menu<\/span>","collapse":"<span class=\"screen-reader-text\">collapse child menu<\/span>"};
/* ]]> */
</script>
<script type="text/javascript" src="/wp-content/themes/education-hub/js/navigation.min.js?ver=20120206" id="education-hub-navigation-js"></script>
<script type="text/javascript" src="/wp-includes/js/wp-embed.min.js?ver=5.8.2" id="wp-embed-js"></script>


</body><grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration></html>